:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(180deg, rgb(237, 237, 230), rgb(203, 203, 217));
  height: 100vh;
}

nav {
  display: flex;
  gap: 2em;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  background-color: #213547;
  height: 50px;
}

nav a {
  font-weight: 500;
  color: #ddd;
  text-decoration: inherit;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  transition: background-color 0.4s ease-in-out;
}

nav a:hover {
  color: rgb(242, 246, 250);
  background-color: #080808;
}

.userName {
  color: rgb(83, 236, 216);
  font-size: large;
}
a {
  text-decoration: none;
  color: #000000;
}
.loading {
  text-align: center;
  padding: 5em;
  font-size: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #213547;
  color: #ddd;
  cursor: pointer;
  transition: border-radius 0.4s ease-in-out;
}

button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

button:hover {
  background-color: #b7c0d6;
  color: #213547;
  border-radius: 20px;
}

.buttons {
  display: flex;
  gap: 2em;
  justify-content: center;
}

.center {
  text-align: center;
}

li {
  list-style: none;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: auto 0;
  gap: 2em;
  padding: 2em;
  text-align: center;
}

.blog-card {
  padding-top: 20px;
  min-height: 220px;
  box-shadow: 1px 2px 2px #213547;
  border: 2px solid;
  font-size: 1.1rem;
  border-image-source: linear-gradient(90deg, #213547ed, transparent);
  border-image-slice: 1;
  border-image-outset: 1;
  transition: background-color 0.3s ease-in-out;
}

.blog-card:hover {
  background-color: #233646;
  color: white;
  > .title {
    color: rgb(246, 240, 161);
  }
}

label {
  font-weight: bold;
  font-size: 1.2rem;
}
.createForm {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5rem;
}

input[type='text'],
.createForm textarea,
input[type='password'] {
  width: 50%;
  padding: 0.8em 1rem;
  margin: 8px 0;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.createForm > textarea {
  height: 400px;
  font-size: 1.2rem;
}
.commentForm {
  margin-top: 10px;
}
.commentForm > textarea {
  height: 100px;
  width: 50%;
  border: 3px solid #ccc;
  outline: none;
  padding: 0.8em 1rem;
  transition: 0.5s;
}
input[type='text']:focus,
textarea:focus,
input[type='password']:focus {
  border: 3px solid #233646;
  box-shadow: 0 0 5px #233646;
}

form label,
span {
  display: block;
}

.error {
  color: red;
}
.delete {
  color: white;
  background-color: rgb(165, 59, 40);
}
.delete:hover {
  color: white;
  background-color: rgb(219, 26, 26);
}

.singleblog {
  padding: 2em;
  font-size: 1.4rem;
}

.singleblog p {
  padding: 20px;
  margin: 0 auto;
  width: 80%;
}

.comments-Container {
  display: grid;
  gap: 20px;
}

.comments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2em 1fr 2em;
  padding: 0.7em;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 80vw;
  text-align: center;
  background-color: white;
}

.X {
  background-color: transparent;
  color: rgb(241, 141, 141);
  font-size: 1.1rem;
  grid-column-end: -1;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.X:hover {
  background-color: transparent;
  transform: scale(1.2);
  color: red;
}

.time {
  font-size: 0.9rem;
  text-align: center;
  font-style: italic;
  grid-column: 2 / 3;
  padding: 1em;
  color: #c17a28;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-weight: bold;
  grid-column: 1 / 2;
}
.content {
  grid-column: 1/4;
  grid-row: 2/2;
}
.flexItems {
  display: grid;
  grid-template-columns: 1fr 30px;
  justify-content: space-around;
}

.title {
  padding: 0.5rem;
  font-weight: bolder;
  color: rgb(65, 132, 219);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.blog-Content {
  font-family: Arial, Helvetica, sans-serif;
}
